body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
}

#word {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

#guessed-letters {
    font-size: 20px;
    margin-top: 10px;
}

#guess-container {
    margin-top: 50px;
}

#guess {
    display: block;
    width: 200px;
    margin: 20px auto;
}

button {
    display: block;
    margin: 0 auto;
}
#leaderboard-container {
    display: none;
    margin-top: 20px;
}

#leaderboard-container h2 {
    text-align: center;
}

#leaderboard-list {
    list-style-type: decimal;
    margin-left: 20px;
}

#player-form-container {
    text-align: center;
    margin-top: 20px;
}

#player-form-container h2 {
    text-align: center;
}

#player-name {
    display: block;
    margin: 10px auto;
}

#player-form-container button {
    display: block;
    margin: 0 auto;
}